/* HEADER */
.nav-top {
    padding: 10px 0px 10px 0px;
    border-bottom: solid 1px rgba(0,0,0,0.05);
}

.nav-top .nav-top-access {
    text-align: left;
}
.nav-top .nav-top-social{
    text-align: right: 
}

.nav-top-access>i{
    font-size: 20px;
    font-weight: 600;
    padding-right: 5px; 
}
@media (max-width: 576px) {
    .nav-top .nav-top-access, .nav-top .nav-top-social {
        text-align: center;
    }
}

.nav-top-social ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-top .nav-top-social ul li {
    display: inline-block;
    margin-right: 10px;
}

.nav-top .nav-top-social ul li a {
    color: #223228;
}

.nav-top-social li a i {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 27px;
}

.navbar-brand>img {
    display: block;
    max-width: 250px;
}

.nav-menu .navbar{
    padding: 8px 0px;
}
.nav-menu .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 25px;
    color: #000000;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}
/* HEADER */